<footer id="footer" class="footer-1">
<div class="main-footer widgets-dark typo-light">
<div class="container">
<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-4">
<div class="widget subscribe no-box">
<h5 class="widget-title">COMPANY NAME<span></span></h5>
<p>Ananta Charan Pothal </p>
</div>
</div>
  

      <div class="col-xs-12 col-sm-6 col-md-4">
<div class="widget no-box">
<h5 class="widget-title">Follow up<span></span></h5>
            <a routerLink="#"> <i class="fa fa-facebook"> </i> </a>
            <a routerLink="#"> <i class="fa fa-twitter"> </i> </a>
            <a routerLink="#"> <i class="fa fa-youtube"> </i> </a>
</div>
</div>
<br>
  <br>


<div class="col-xs-12 col-sm-6 col-md-4">
<div class="widget no-box">
<h5 class="widget-title">Contact Us<span></span></h5>
<p>Connect us with below details</p>
<p class="mb-0"><i class="fa fa-phone mr-3"></i>+91 9090299458</p>
<p><i class="fa fa-envelope-o mr-3"></i>ananta.official.1997@gmail.com</p>

</div>

</div>
</div>
</div>
  
<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p>Copyright Design Ananta Pothal © 2023. All rights reserved.</p>
</div>
</div>
</div>
</div>
</div>
</footer>