<div class="topnav" id="myTopnav">
    <a routerLink="home" routerLinkActive = "active">Home</a>
    <a routerLink="#about"  routerLinkActive = "active">About</a>
    <a routerLink="contact" routerLinkActive = "active">Contact</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="link1"  routerLinkActive = "active">Link 1</a>
        <a routerLink="link2"  routerLinkActive = "active">Link 2</a>
        <a routerLink="link3"  routerLinkActive = "active">Link 3</a>
      </div>
    </div> 
    <a routerLink="logout"  routerLinkActive = "active" (click)="logout()">Logout</a>
    <a routerLink="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
  </div>
  

  